@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.main {
  position: relative;
  justify-content: center;
  align-items:  center;
  background-color: #F4F5F9;
  width: 100%;
}

.MobileNav {
  display: none;
}


.MobileNavMiddle {
  display: none;
}

.copyright {
  opacity: 0.55;
  font-family: 'Poppins', sans-serif;;
  background-color: #E2E7FE;
  padding: 1.7vw;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.NavContainer {
  z-index: 100;
  height: 8vh;
  position:fixed;
  background-color: #E2E7FE;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8,1fr);
  gap: 20px;
  padding: 20px 40px;
  padding-top: 30px;
  grid-template-areas: "logo . navButton1 navButton2 navButton3 . signup login";
}

.body {
  background-color: #F4F5F9;
  width: 100%;
  padding-top: 17vh;
}
.NavLogo {
  font-family: 'Allura', cursive;
  margin-top: 10px;
  margin-left: 10px;
  grid-area: logo;
  font-size: 2.5rem;
}


.NavButton1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 4rem;
  grid-area: navButton1;
  height: 3rem;
}

.NavButton2 {
  align-items: center;
  justify-content: center;
  display: flex;
  grid-area: navButton2;
  height: 3rem;
}

.NavButton3 {
  align-items: center;
  justify-content: center;
  display: flex;
  max-lines: 1;
  grid-area: navButton3;
  height: 3rem;
}

.NavSignUp {
  height: 3rem;
  grid-area: signup;
}

.NavLogin {
  /* color: #3600b5; */
  height: 3rem;
  grid-area: login;
}


.FeaturesContainer {
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.FeatureTitle {
  /* padding: 20px; */
  font-weight: 500;  
  font-size: 2.5rem;
}

.FeatureSubtitle {
  padding: 20px;
  font-weight: 300;  
  font-size: 1.5rem;
}

.FeatureImage {
  padding: 20px;
  width: 45vw;
  margin: auto;
}

.TeamContainer {
  background-color: #E2E7FE;
  width: 100vw;
  height: fit-content;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0px 0px;
  display: grid;
  grid-template-columns: 40vw 70vw;
  grid-template-areas: "TeamTitleContainer TeamInfoContainer";
}

.TeamTitleContainer {
  text-align: center;
  justify-content: center;
}

.TeamHeading {
  padding: 20px;
  font-weight: 500;  
  font-size: 2.5rem;
}

.TeamTeamHeadingBold {
  font-weight: 600;
}

.TeamInfoContainer {
  transform: rotate(10deg);
  margin-right: 10vw;
  line-height: 0;
  font-size: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: TeamInfoContainer;
}



.TeamMemberWrapper {
  width: fit-content;
  height: fit-content;
  flex: 1;
  margin: 3vh 4vw;
  border-radius: 1rem;
  line-height: 0;
  font-size: 0;
  display: inline-block;
  position: relative;
}

.TeamMember {
  width:10vw;
  border-radius: 1rem;
  transition: opacity .5s ease-in-out;
  display: inline-block;
  padding: 0;
  margin: 0rem;
  border: 1.3rem solid;
}

.TeamMember:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.TeamMember:hover {
  transition: opacity .5s ease-in-out;
  opacity: 0.2;
  
}

.TeamMemberWrapper1 {
  background-color: #FFB0B0;
}

.TeamMember1 {
  border-color:  #FFB0B0;
}


.TeamMemberWrapper2 {
  background-color: #F0FFE9;
}

.TeamMember2 {
  border-color: #F0FFE9;
}

.TeamMemberWrapper3 {
  background-color: #FFF1D7;
}

.TeamMember3 {
  border-color: #FFF1D7;
}

.TeamMemberWrapper4 {
  background-color: #FED9FF;
}

.TeamMember4 {
  border-color: #FED9FF;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}


.contact {
  margin: 4vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.contactlogo {
  width: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.contactlogo:hover {
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}



@media screen and (max-width: 1220px) {

  .copyright {
    font-size: 21px;
  }


  .contactlogo {
    width: 4vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
 
  .NavContainer {
    z-index: 15;
    height: 8vh;
    position:fixed;
    background-color: #E2E7FE;
    display: grid;
    align-items: center;
    grid-template-columns: 20vw 3vw 10vw 8vw 10vw 2vw 13vw 14vw 1vw;
    gap: 20px;
    padding: 20px 40px;
    padding-top: 25px;
    grid-template-areas: "logo . navButton1 navButton2 navButton3 . signup login .";
  }

  .NavLogo {
    margin-top: 8px;
  }
  

  .TeamContainer {
    background-color: #E2E7FE;
    width: 100vw;
    margin: 0px 0px;
    display: block;
    padding-top: 6vh;
  }

  .TeamTitleContainer {
    text-align: center;
    justify-content: center;
  }
  
  .TeamInfoContainer {
    transform: rotate(0deg);
    margin: 0;
    line-height: 0;
    font-size: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-area: TeamInfoContainer;
    padding-top: 6vh;
    margin-top: 6vh;
  }

  .TeamMember {
  width:17vw;
  border-radius: 1rem;
  transition: opacity .5s ease-in-out;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0rem;
  border-width: 0.8rem;
  z-index: 0;
}


  
}




@media screen and (max-width: 960px) {

  .copyright {
    font-size: 18px;
  }

  .contactlogo {
    width: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .body {
    background-color: #F4F5F9;
    width: 100%;
    padding-top: 0;
  }

  .NavContainer {
    display: none;
  }

  /* .MobileNavMiddle {
    width: 100vw;
    height: 10vh;
    display: grid;
    position: relative;
    grid-area: MobileNavMiddle;
    grid-template-areas: "MNavButton1 MNavButton2 MNavButton3";
    align-items: center;
    z-index: 10;
  }

  .MNavButton1 {
    grid-area: MNavButton1;
  }

  .MNavButton2 {
    grid-area: MNavButton2;
  }


  .MNavButton3 {
    grid-area: MNavButton3;
  } */


  .MobileNav {
    width: 100vw;
    height: 16vh;
    position:fixed;
    background-color: #E2E7FE;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 10vh 10vh;
    gap: 20px;
    grid-template-areas: "NavLogo MobileNavEnd";
    z-index: 100;
  }

  .MNavLogo {
    font-family: 'Allura', cursive;
    font-size: 2.4rem;
    width: 100vw;
    grid-area: NavLogo;
    align-items: center;
    padding-left: 6vw;
    padding-top: 5.5vh;
  }

  

  .MobileNavEnd{
    padding-top: 5.5vh;
    position: relative;
    margin: 0;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 'MNavSignUp MNavSignUp MNavLogin MNavLogin MNavLogin';
    grid-area: MobileNavEnd;
    gap: 5vw;
  }

  .MNavSignUp {
    font-size: 2rem;
    grid-area: MNavSignUp;
  }

  .MNavLogin {
    grid-area: MNavLogin;
  }  

  .body {
    padding-top: 20vh;
  }
  
}