.card {
  background-color: #f4f9fd;
  border: 2px solid #f4f9fd;
  border-radius: 21px;
  margin: auto;
  width: 75%;
  margin-top: 5%;
  padding: 15px;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 550px;
}

.forInput {
  border-color: #ffffff;
  border-radius: 9px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 350px;
}

.forlabel {
  font-family: cursive;
  color: #82909e;
}
.space {
  margin-right: 45px;
  margin-left: 45px;
}

.left {
  float: left;
}

.right {
  float: right;
}
