.overview {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  margin-top: 6vh;
  background-color: #f4f9fd;
}
.optionname {
  margin-left: 2vw;
  color: #c3cee4;
}

.searchmenu {
  display: flex;
  flex-direction: row;
  margin: 2vw;
}
.title {
  font-size: 2vw;
  font-weight: bold;
}
.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.sideback {
  display: flex;
  flex-direction: row;
  margin-left: 18vw;
  position: relative;
  bottom: 2vh;
  position: relative;
  left: 7vw;
}
.sideback {
  color: #834bff;
  font-size: 0.8vw;
  font-weight: bold;
}

.core {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 50vh;
}
.slidecomponent {
  margin-left: 14vw;
  display: flex;
  flex-direction: column;
}

.outercircle1 {
  background-image: linear-gradient(151.11deg, #de6262 12.02%, #ffb88c 96.09%);
  border-radius: 100%;
  width: 9vw;
  height: 18vh;
  margin-left: 5vw;
  margin-bottom: 1vh;
}

.outercircle2 {
  background-image: linear-gradient(151.11deg, #4568dc 12.02%, #b06ab3 96.09%);
  border-radius: 100%;
  width: 9vw;
  height: 18vh;
  margin-left: 5vw;
  margin-bottom: 1vh;
}
.innercircle {
  background-color: white;
  width: 7vw;
  height: 14vh;
  border-radius: 100%;
  position: relative;
  top: 1vw;
  left: 1vw;
}
.data {
  position: relative;
  top: 5vh;
  left: 3vw;
  font-weight: bold;
  font-weight: 1vw;
}
.title {
  font-size: 2vw;
}
.slider {
  padding-left: 6vw;
}
.courseboxupper {
  margin: 2vw;
  border-radius: 16px;
  box-shadow: 0 0 49px rgba(15, 15, 15, 0.28);
  width: 20vw;
  height: 30vh;
  background-color: #f5c0c0;
}
.courseboxlower {
  margin: 2vw;
  border-radius: 16px;
  box-shadow: 0 0 49px rgba(15, 15, 15, 0.28);
  width: 20vw;
  height: 30vh;
  background-color: #b8b5ff;
}
