.RightSideBarMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 6vh;
}

.ContainerBox {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
}
