.ContainerBox{
    display: flex;
    flex-direction: row;
}

.leftbar{
    width: 20vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    margin-right: 2vw;
    margin-top: 10vh;
    margin-left: 3vw;
}

.overview{
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    margin-top: 6vh;
    background-color: #f4f9fd;
}

.mainphoto{
    margin-left: -3vw;
    position: relative;
    top: 1.5vh;
    width: 13vw;
    height: 10vh;
}
.profileName{
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.48);
    margin-top: -1vh;
    margin-left: 2vw;
}

.profile{
    width: 7vw;
    height: 13vh;
    border-radius: 100%;
    border-style: solid;
    border-width: 7px;
    border-color: #5F79FC;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    line-height: 10vh;
}
.choices{
    margin: 2vw;
    line-height: 5vh;
}
.mainoption{
    margin-left: 2vw;
    color: #5F79FC;
    font-weight: bold;
}
.option{
    display: flex;
    flex-direction: row;
}
.optionnames{
    margin-left: 2vw;
    color: #C3CEE4;
    font-weight: bold;
}
.optionname{
    margin-left: 2vw;
    color: #C3CEE4
}

.searchmenu{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}
.title{
    margin-left: 2vw;
    margin-top: -1vw; 
    font-size: 2vw;
    font-weight: bold;
}

.statistics{
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 49px rgba(15, 15, 15, 0.28);
    border-radius: 16px;
    margin-left: 5vw;
    margin-top: 5vh;
}
.statname{
    font-size: 1vw;
    font-weight: bold;
}
.statbox{
    width: 15vw;
    height: 30vh;
    margin: 5vh;
    border-radius: 23px;
    margin-left: 4vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
}
.rowbox{
    display: flex;
    flex-direction: row;
}
.outercircle{
    background-image: linear-gradient(151.11deg, #FF6B81 12.02%, #4776FF 96.09%);
    border-radius: 100%;
    width: 9vw;
    height: 18vh;
}
.innercircle{
    background-color: white;
    width: 7vw;
    height: 14vh;
    border-radius: 100%;
    margin: 1vw;
}
.data{
    position: relative;
    top: 5vh;
    left: 3vw;
    font-weight: bold;
}